@model BackEndCapstone.Models.PlayerAttribute

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerAttribute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
